<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GUI_QLNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BTLMonLTTQEntities" connectionString="metadata=res://*/QLNS.csdl|res://*/QLNS.ssdl|res://*/QLNS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-14IEBEU\SQLEXPRESS;Initial Catalog=BTLMonLTTQ;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
    <add name="GUI_QLNS.Properties.Settings.XeMayConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=XeMay;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="GUI_QLNS.Properties.Settings.BTLMonLTTQConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=BTLMonLTTQ;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <GUI_QLNS.Properties.Settings>
      <setting name="LastServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="UseWindowsAuth" serializeAs="String">
        <value>False</value>
      </setting>
    </GUI_QLNS.Properties.Settings>
  </userSettings>
</configuration>