<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI_QLNS.Properties.Settings.XeMayConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=XeMay;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI_QLNS.Properties.Settings.BTLMonLTTQConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=BTLMonLTTQ;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>